body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #0e0d0d;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fdfcfc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-btn:hover {
    background-color: #0056b3;
  }
  